{% load django_vite %}
<!doctype html>
<html lang="fr" data-theme="cupcake">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}Getting Started with Django and Vite{% endblock %}
        </title>
        {% if debug %}
            {% vite_hmr_client %}
        {% endif %}
        {% vite_asset 'assets/style.css' %}
        {% vite_asset 'assets/main.js' %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body class="bg-base-100 min-h-screen text-base-content" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block content %}{% endblock content %}
    </body>
</html>
