# Google auth
gcp_client_id=
gcp_secret=

# Stripe
stripe_product_price_id=
stripe_public_key=
stripe_secret_key=
stripe_webhook_secret=

# Resend
RESEND_API_KEY=

# Database
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_host=db
POSTGRES_PORT=5432

# Django
secret_key=secret
ALLOWED_HOST=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://127.0.0.1
DEBUG=True